<div class="d-flex align-items-center justify-content-center" >
  <div style="width: 98vw; height: 83vh">
    <div *ngIf="Match == null">
      <br>
      <br>
      <br>
      No current match. Start a <a href="#" (click)="btnNewMatch()">new one</a> 
    </div>

    <div class="row" >
      <div [ngClass]="players.length < 5 ?'col-4':'col-2'">
        <div style="height:75vh; overflow-y:scroll">
            <div *ngFor="let p of players; let i = index"> 
              <label  
                *ngIf="players.length < 5 || i < (players.length /2)"
                [ngClass]="calculateplayerClass(i)"
                (click)="clickPlayer(p)">
                {{ p.nick }} {{i}}
              </label>
          </div>
        </div>
      </div>

      <div class="col-2" *ngIf="players.length > 4">
        <div style="height:75vh; overflow-y:scroll">
            <div *ngFor="let p of players; let i = index"> 
              <label 
                *ngIf="i >= (players.length /2)"
                [ngClass]="calculateplayerClass(i)"
                (click)="clickPlayer(p)">
                {{ p.nick }} {{i}}
              </label>
          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="row" *ngFor="let i of [1,0,-1]">
          <div class="col-3" *ngFor="let e of events | filterByNumber : 'value' : i">
            <label class="btn p-3 my-1 w-100"
              [ngClass]="{'btn-primary': i == 1, 'btn-warning' : i == 0, 'btn-danger': i == -1  }"
              (click) = "clickEvent(e)">
                {{ e.short }} 
            </label>
          </div>
        </div>
    </div>

    <div class="row mt-2 mb-1 align-items-center">
      <div class="col-1">
        <button class="btn btn-secondary btn-block" type="button" (click)="btnUndoClick()">
          <span class="material-icons">undo</span>
        </button>
      </div>
      <div class="col-9 border border-primary"> 
        <span *ngFor="let s of StatEntries">
          <span class="badge bg-dark fs-5"> {{s.player.nick}} </span>
          <span class="badge bg-dark fs-5" *ngIf="s.event != null"> {{s.event.short}} </span>
          &nbsp;&nbsp;&nbsp;
        </span>
        &nbsp; 
      </div>
      <div class="col-2 btn-group">
        <button class="btn btn-dark btn-block" type="button" (click)="btnConfirmClick()">
          <span class="material-icons">check</span>
        </button>
      </div>
    </div>
  </div>
</div>