<div class="container">
  <div class="row" *ngIf="Match == null">
    No current match. Start a <a href="#" (click)="btnShowNewMatchForm()">new one</a> 
  </div>

  <div class="row mt-2 align-items-center" *ngIf="Match != null" >
    <div class="col-1">
      <button class="btn btn-secondary" type="button">
        <span class="material-icons">undo</span>
      </button>
    </div>
    <div class="col-9">
      <div class="border border-primary">{{ StatEntry }}</div>
    </div>
    <div class="col-2 btn-group">
      <button class="btn btn-dark btn-block" type="button">
        <span class="material-icons">check</span>
      </button>
    </div>
  </div>


  <div class="row" *ngIf="Match != null" >
    <div class="col-4">
      <div class="list-group btn-group">
        <ng-template
          let-t
          ngFor
          [ngForOf]="Match?.Teams"
          let-i="index"
        >
          <ng-template let-p ngFor [ngForOf]="t.Players">
            <button
              class="btn p-4 mt-3"
              [ngClass]="i == 0 ? 'btn-info' : 'btn-success'"
            >
              {{ p.Nick }} &nbsp;

              <span
                *ngIf="Match.ServiceIndex == p.ServiceOrder"
                class="badge bg-white badge-pill"
                >.</span
              >
            </button>
          </ng-template>
        </ng-template>
      </div>
    </div>

    <div class="col-8">
      <div class="row">
        <div class="btn-group">
        <ng-template
          let-s
          ngFor
          [ngForOf]="Settings.PlayEventsList"
          let-i="index"
        >
          <button class="btn btn-primary p-4 mt-3 ml-2" 
          *ngIf="s.Value == 1"
          click="clickEvent(s)">
            {{ s.Short }}
          </button>
        </ng-template>
        </div>
      </div>
      <div class="row">
        <ng-template
          let-s
          ngFor
          [ngForOf]="Settings.PlayEventsList"
          let-i="index"
        >
          <button class="btn btn-warning p-4 mt-3 ml-2" *ngIf="s.Value == 0">
            {{ s.Short }}
          </button>
        </ng-template>
      </div>
      <div class="row">
        <ng-template
          let-s
          ngFor
          [ngForOf]="Settings.PlayEventsList"
          let-i="index"
        >
          <button class="btn btn-danger p-4 mt-3 ml-2" *ngIf="s.Value == -1">
            {{ s.Short }}
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
