<h3>New Match</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Available Players</h5>
          <table class="table table-sm">
            <tr
              style="cursor: pointer"
              *ngFor="let p of Settings.PlayersList; index as i"
              (click)="AddPlayer(i)"
            >
              <td width="90%">{{ p.Nick }} - {{ p.Name }}</td>
              <td>
                <a href="#">
                  <span class="material-icons pull-right">arrow_forward</span>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Team A</h5>
              <table class="table table-sm">
                <tr>
                  <td width="90%">
                    <span *ngIf="_selectedPlayers[0]">
                      {{ _selectedPlayers[0].Nick }} -
                      {{ _selectedPlayers[0].Name }}
                    </span>
                  </td>
                  <td>
                    <a href="#" (click)="RemovePlayer(0)">
                      <span class="material-icons pull-right">close</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td width="90%">
                    <span *ngIf="_selectedPlayers[1]">
                      {{ _selectedPlayers[1].Nick }} -
                      {{ _selectedPlayers[1].Name }}
                    </span>
                  </td>
                  <td>
                    <a href="#" (click)="RemovePlayer(1)">
                      <span class="material-icons pull-right">close</span>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Team B</h5>
              <table class="table table-sm">
                <tr>
                  <td width="90%">
                    <span *ngIf="_selectedPlayers[2]">
                      {{ _selectedPlayers[2].Nick }} -
                      {{ _selectedPlayers[2].Name }}
                    </span>
                  </td>
                  <td>
                    <a href="#" (click)="RemovePlayer(2)">
                      <span class="material-icons pull-right">close</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td width="90%">
                    <span *ngIf="_selectedPlayers[3]">
                      {{ _selectedPlayers[3].Nick }} -
                      {{ _selectedPlayers[3].Name }}
                    </span>
                  </td>
                  <td>
                    <a href="#" (click)="RemovePlayer(3)">
                      <span class="material-icons pull-right">close</span>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-end">
    <div class="col-3">
      <button class="btn btn-secondary" (click)="btnCancelClick()">
        Cancelar
      </button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary" (click)="btnConfirmNewMatchClick()">
        Guardar
      </button>
    </div>
  </div>
</div>
