<!-- <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">     -->
    <!-- <div class="modal-content"> -->

      <div class="modal-header">
        <h5 class="modal-title">New Player</h5>
        <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-sm mb-3">
          <label>Nick: &nbsp;</label>
          <input [(ngModel)]="Nick" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>    
        <div class="input-group input-group-sm mb-3">
          <label>Name: &nbsp;</label>
          <input [(ngModel)]="Name" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
      </div>    
      <div class="modal-footer">
        <button type="button" 
        class="btn btn-primary"
        (click)="btnSaveNewPlayerClick()">Guardar</button>
        
        <button type="button" 
        class="btn btn-secondary"
        (click)="activeModal.dismiss()" 
        data-dismiss="modal">Cancelar</button>
      </div>
    <!-- </div> -->
  <!-- </div>
</div> -->