
<!-- 
<div class="d-flex align-items-center justify-content-center" *ngIf="User == null">
  <div>
    <br>
    <br>
    <br>
      Please, <a href="#" (click)="SignIn()">sign in</a>
  </div>
</div>
-->
  <nav class="navbar bg-dark px-2">
    <span class="navbar-text navbar-brand text-white">
      Stats
    </span>
    <form class="form-inline mt-2 mr-3">
      <a href="#"
        *ngIf="match == null || menuOption==1"
        class="btn btn-outline-success"
        type="button"
        (click)="btnNewMatch()">
          <span class="material-icons">flag</span>
      </a>
      
      <span class="badge bg-dark" *ngIf="match!=null && menuOption==1" >Started: {{match.date}}</span>
      
      <a href="#" 
      *ngIf="match!=null && menuOption==1"
        class="btn btn-outline-success"
        type="button"
        (click)="btnCancelMatch()">
          <span class="material-icons">cancel</span>
      </a>
    </form>
    <form class="form-inline mt-2">
      <button *ngIf="match!=null"
        class="btn btn-outline-success"
        type="button"
        (click)="setMenuOption(1)"
        [ngClass]="menuOption == 1?'active':''"
      >
        <span class="material-icons">sports_esports</span>
      </button>
      <button 
        class="btn btn-outline-success ml-3"
        type="button"
        (click)="setMenuOption(2)"
        [ngClass]="menuOption == 2?'active':''"
      >
        <span class="material-icons">leaderboard</span>
      </button>
      <button 
        class="btn btn-outline-success ml-3"
        type="button"
        (click)="setMenuOption(3)"
        [ngClass]="menuOption == 3?'active':''"
        >
         <span class="material-icons">settings</span>
      </button>
      <label 
        class="btn btn-outline-success ml-3"
        (click)="toggleFullScreen()"
        >
         <span class="material-icons">fullscreen</span>
      </label>

      

      <!-- <button
        class="btn btn-outline-success ml-3"
        type="button"
        (click)="SignIn()"
        *ngIf="User == null">
        <span class="material-icons">person</span>
      </button>
      <span class="text-success  ml-3" *ngIf="User != null">{{ User.getBasicProfile().getEmail()}} </span>
      <button
        class="btn btn-outline-success ml-3"
        type="button"
        (click)="SignOut()"
        *ngIf="User != null">
        <span class="material-icons">person_off</span>
      </button> -->
    </form>
  </nav>
  <div *ngIf="match == null && menuOption == 1">
    <br>
    <br>
    <br>
    No current match. Start a <a href="#" (click)="btnNewMatch()">new one</a> 
  </div>

  <match [CurrentMatch]="match" *ngIf="menuOption == 1 && match!=null"></match>
  <statistics *ngIf="menuOption == 2"></statistics>
  <settings *ngIf="menuOption == 3"></settings>
  <!-- <div echarts class="demo-chart" [options]="chartOption"></div>  -->
