
<!-- 
<div class="d-flex align-items-center justify-content-center" *ngIf="User == null">
  <div>
    <br>
    <br>
    <br>
      Please, <a href="#" (click)="SignIn()">sign in</a>
  </div>
</div>
-->
  <nav class="navbar navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Stats</a>
    <form class="form">
      <button
        class="btn btn-outline-success"
        type="button"
        (click)="btnNewMatch()">
          <span class="material-icons">flag</span>
      </button>
      
      <span class="badge bg-dark" *ngIf="match!=null" >Started: {{match.date}}</span>
      
      <button *ngIf="match!=null"
        class="btn btn-outline-success"
        type="button"
        (click)="btnCancelMatch()">
          <span class="material-icons">cancel</span>
      </button>
    </form>

    <form class="form-inline">
      <button *ngIf="match!=null"
        class="btn btn-outline-success"
        type="button"
        (click)="setMenuOption(1)"
      >
        <span class="material-icons">local_activity</span>
      </button>
      <button 
        class="btn btn-outline-success ml-3"
        type="button"
        (click)="setMenuOption(2)"
      >
        <span class="material-icons">leaderboard</span>
      </button>
      <button 
        class="btn btn-outline-success ml-3"
        type="button"
        (click)="setMenuOption(3)">
         <span class="material-icons">settings</span>
      </button>
  
      <!-- <button
        class="btn btn-outline-success ml-3"
        type="button"
        (click)="SignIn()"
        *ngIf="User == null">
        <span class="material-icons">person</span>
      </button>
      <span class="text-success  ml-3" *ngIf="User != null">{{ User.getBasicProfile().getEmail()}} </span>
      <button
        class="btn btn-outline-success ml-3"
        type="button"
        (click)="SignOut()"
        *ngIf="User != null">
        <span class="material-icons">person_off</span>
      </button> -->
    </form>
  </nav>
  <match *ngIf="menuOption == 1"></match>
  <statistics *ngIf="menuOption == 2"></statistics>
  <settings *ngIf="menuOption == 3"></settings>
  <!-- <div echarts class="demo-chart" [options]="chartOption"></div>  -->
