<div *ngIf="menuOption == 0">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Stats</a>
    <form class="form-inline">
      <button
        class="btn btn-outline-success"
        type="button"
        (click)="startNewGame()"
      >
        <span class="material-icons">sports_tennis</span>
      </button>
      <button
        class="btn btn-outline-success ml-3"
        type="button"
        (click)="statistics()"
      >
        <span class="material-icons">leaderboard</span>
      </button>
      <button
        class="btn btn-outline-success ml-3"
        type="button"
        (click)="settings()"
      >
        <span class="material-icons">settings</span>
      </button>
    </form>
  </nav>
  <match></match>
</div>
<new-match
  *ngIf="menuOption == 1"
  [Settings]="Model.Settings"
  (onNewGameCreated)="newGameCreated($event)"
  (onbtnCancelClick)="btnCancelClick()"
></new-match>
<statistics *ngIf="menuOption == 2"></statistics>
<settings
  *ngIf="menuOption == 3"
  [Settings]="Model.Settings"
  (onBtnCancelClick)="btnCancelClick()"
  (onBtnConfirmClick)="btnSettingsConfirmClick($event)"
></settings>
