<h3>Settings</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-auto">
          <label>Sport: &nbsp;</label> 
          <button
          class="btn btn-outline-primary btn-sm "
          type="button"
          (click)="addSport()"><span class="material-icons">add</span>
          </button>
        </div>
        <div class="col-6">
          <select class="form-control" [(ngModel)]="selectedSport">
            <option *ngFor="let s of sports" [ngValue]="s">{{s.name}}</option>
          </select>
        </div>
        <div class="col-auto">
          <button 
          class="btn btn-outline-danger btn-sm"
          (click)="deleteSport()"><span class="material-icons pull-right">close</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-auto">
          <label>Tournament: &nbsp;</label>
          <button
            class="btn btn-outline-primary ml-2 btn-sm"
            type="button"
            (click)="addTournament()"
          >
            <span class="material-icons">add</span>
          </button>
        </div>
        <div class="col-6">
          <select class="form-control" [(ngModel)]="selectedTournament">
            <option *ngFor="let t of tournaments" [ngValue]="t">{{t.name}}</option>
          </select>
      </div>
      <div class="col-auto">
        <button 
          class="btn btn-outline-danger btn-sm"
          (click)="deleteTournament()">
          <span class="material-icons pull-right">close</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title float-left"><span>Events</span></h5>
          <button
            class="btn btn-outline-primary ml-2 btn-sm"
            type="button"
            (click)="addEvent()">
            <span class="material-icons">add</span>
          </button>
          <table class="table table-sm">
            <tr
              style="cursor: pointer"
              *ngFor="let e of events"
            >
              <td width="90%">{{ e.short }}</td>
              <td>
                <a href="#" (click)="deleteEvent(e.eventId)">
                  <span class="material-icons pull-right">close</span>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title float-left"><span>Players</span></h5>
          <button
            class="btn btn-outline-primary ml-2 btn-sm"
            type="button"
            (click)="addPlayer()">
            <span class="material-icons">add</span>
          </button>
          <table class="table table-sm">
            <tr
              style="cursor: pointer"
              *ngFor="let p of players"
            >
              <td width="90%">{{ p.nick }}</td>
              <td>
                <a href="#" (click)="deletePlayer(p.playerId)">
                  <span class="material-icons pull-right">close</span>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div> 
  </div>
</div> 

